<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

   <title>배탈의 민족 Administrator </title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>

 

 
<body>
 

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/admin">Administrator</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/admin">회원 관리</a></li> 
                <li class="active2"><a data-toggle="pill" href="#notice" style="color:black" onclick="location.href='/admin_ceo';">업소 관리</button></a></li>
              <li><a data-toggle="pill" href="#faq" style="color:black" onclick="location.href='/board';">공지사항</a></li>
            </ul>
          </div>
        </nav>
          

        <div class="container">         

            <div class="tab-content">
                <div id="service" class="tab-pane fade in active">
                    <br>
                    <hr>
                        <h2>회원 목록</h2>  
                        <hr>
                        <br>
                      <div class="table-responsive">
                          
                      <table class="table table-striped" id="person_table">
                            <thead>
                              <tr>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>주소</th>
                                <th>휴대폰번호</th>
                                <th>이메일</th>
                                <th>닉네임</th>
                                <th>포인트</th>                                
                              </tr>
                            </thead>

                            <tbody>
                                <%

                                for(var i=0;i<rows.length;i++)
                                {
                                    var oneItem = rows[i];
                            %>
                            <tr>
                                <td><%=oneItem.user_id%></td>
                                <td><%=oneItem.user_name%></td>
                                <td><%=oneItem.user_addr%></td>
                                <td><%=oneItem.user_tel%></td>
                                <td><%=oneItem.user_mail%></td>
                                <td><%=oneItem.user_nick%></td>
                                <td><%=oneItem.user_point%></td>
                            </tr>

                            <%
                                }
                            %>
                            
                            
                            </tbody>
                          </table>    
                            

                            </div>

                            </div>

                </div>

               <form id="joinForm" action="/admin" method="post">
                        <td>
                            <input type="hidden" name="tel" id="tel">
                            <select name="person_info" id="person_info">
                                <option value="name">이름</option>
                                <option value="id">ID</option>
                                <option value="phone">휴대폰번호</option>
                                <option value="gender">성별</option>
                                <option value="mail">이메일</option>
                                <option value="nick">닉네임</option>
                            </select>
                            <input type="text" name="person_info2" id="person_info2" size="20" maxLength="20">
                            <input type="submit"  class="btn btn-success btn-md" id="btnsearch" name="search" value="검색">
                        </td> 
                    </form> 
        </div>
        <hr>
        <br>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Software Engineering Project </p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/bootstrap-3.3.6-dist/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

</body>

</html>
