<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>배탈의 민족 Administrator </title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>


    <!-- Navigation -->


    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/admin">Administrator</a>
      </div>
      <ul class="nav navbar-nav">
          <li class="active2"><a href="/admin">회원 관리</a></li> 
          <li class="active2"><a data-toggle="pill" href="#notice" style="color:black" onclick="location.href='/admin_ceo';">업소 관리</button></a></li>
          <li class="activeㅋ"><a data-toggle="pill" href="#faq" style="color:black" onclick="location.href='/board';">공지사항</a></li>
      </ul>
  </div>
</nav>

 <div class="container">
    <h1>공지사항 수정</h1>

 
 <table class="table table-striped">  
    <form action="/board/update" method="get">
    <input type="hidden" name="idx" value="<%=row.idx%>"/>
    <tr>
      <th>작성자</th>
      <td><%=row.creator_id%></td>
    </tr>
    <tr>
      <th>제목</th>
      <td><%=row.title%></td>
    </tr>
    <tr>
      <th>내용</th>
      <td><%=row.content%></td>
    </tr>
    <tr>
      <th>조회수</th>
      <td><%=row.hit%></td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit" class="btn btn-info">글 수정</button></form>
        <form action="/board/delete" method="get">    <input type="hidden" name="idx" value="<%=row.idx%>"/>
          <button type="submit" class="btn btn-danger">글 삭제</button></form>
        <a href="/board">공지사항으로 돌아가기</a>
      </td>
    </tr>
  </table>
</div>

</body>
</html>